<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<!DOCTYPE html>
<html>
<head>
    <title>ShoeWorld</title>
    <link rel="stylesheet" type="text/css" href="{% static 'store/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="brand">Shoe Emporium</a>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="{% url 'product_list' %}">Home</a></li>
                <li><a href="{% url 'product_list' %}">Products</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{% url 'view_cart'  %}">Cart</a></li>
            </ul>
        </div>
    </nav>
   
    <div class="container">
        <h1>Welcome to the world of Shoes</h1>
        <div class="product-list">
            {% for product in products %}
                <div class="product-item">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p class="price">${{ product.price }}</p>
                    <a href="{% url 'add_to_cart' product.id %}" class="add-to-cart">Add to Cart</a>
                </div>
            {% endfor %}
        </div>
    </div>

  <script>
        const mobileMenu = document.getElementById('mobile-menu');
        const navLinks = document.getElementById('nav-links');

        mobileMenu.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    </script>
</body>
</html>
